/* global stylings */
#quiz,
#welcome {
    background-color: rgba(255, 255, 255, 0.9);
    width: 700px;
    padding: 20px;
    border: 5px solid #FFA500;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Jacques Francois;
}

.logo {
    height: 25px;
}

.heading {
    background-color: #FFA500;
    padding: 10px;
    border: 2px solid #FFA500;
    border-radius: 15px;
    font-family: Source Serif Pro;
}

.heading a {
    text-decoration: none;
    color: #000000;
}

/* home page styling */
#home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
}

#click-here {
    text-decoration: none;
    color: #FF7900;
    font-weight: bold;
}

/* quiz page stylings */
body {
    background-image: url("../images/background-butterflies.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img {
    max-width: 650px;
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
}

#timer {
    font-family: Source Serif Pro;
    background-color: #FFA500;
    padding: 10px;
    font-size: larger;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 10px;
}

/* button styling */
#next-btn,
#restart-btn {
    background-color: #FFA500;
    font-family: Source Serif Pro;
    border: 2px solid #FFA500;
    border-radius: 15px;
    font-size: larger;
}

#answer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*align and style lists*/
li {
    list-style-type: none;
}

ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0;
}

ol>li {
    margin: 0.5em;
    list-style-type: circle;
}

/* media queries */
@media (min-width: 300px) {

    #quiz,
    #welcome {
        max-width: 80vw;
    }

    #img {
        max-width: 85vw;
    }

    .heading {
        font-size: x-large;
    }
}

@media (min-width: 600px) {
    #img {
        max-width: 500px;
    }

    .heading {
        font-size: xx-large;
    }
}

@media (min-width: 800px) {
    #img {
        max-width: 650px;
    }
}